<?xml version='1.0' encoding='utf-8'?>
<widget id="com.SupplyCoreapp" version="0.0.2" xmlns="http:// " xmlns:cdv="">
    <name>SupplyCore</name>
    <description>SupplyCore</description>
    <author email="spread2009@gmail.com" href="http://">Caravan LTD</author>
    <content src="index.html" />
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data:">
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.3" />
    <plugin name="cordova-plugin-device" spec="2.0.1" />
    <engine name="browser" spec="5.0.3" />
</widget>
